
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);   
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

body {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--stone-100);
    align-items: center;
    font-family: Outfit, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--stone-600)
}

.recipe-card {
    width: 700px;
    background-color: var(--white);
    padding: 32px;
    border-radius: 30px;
}

main {
    margin: 96px auto;
}

h1, h2, h3 {
    font-family: 'Young Serif', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

h1 {
    color: var(--stone-900);
    margin: 20px 0px;
}

h2 {
    color: var(--brown-800)
}

img {
    width: 100%;
    border-radius: 8px;
}

table {
    width: 100%
}

.preparation__box {
    background-color: var(--rose-50);
    border-radius: 8px;
    padding: 20px;
    margin: 40px 0;
}

.preparation__box h2 {
    color: var(--rose-800);
    font-size: 20px;
}

.ingredients__box li::marker {
    color: var(--brown-800)
}


hr {
    color: var(--stone-600);
    margin: 48px 0px;
}

ol {
    margin-top: 20px;
    margin-left: 20px;   
}

ul {
    margin-top: 20px;
    margin-left: 32px;  

}

/* adjacent selector to ensure that the margin is only added between items*/
li + li { 
    margin-top: 10px;
}

li {

    padding-left: 20px;
}

ul li::marker {

    left: -4px;
}

ol {
    list-style: none;
    counter-reset: bolded-numbers;
}

ol li {
    counter-increment: bolded-numbers;
    position: relative;
    padding-left: 32px;
    
}

ol li::before {
    left: -4px;
    content: counter(bolded-numbers) ". ";
    font-weight: 900;
    color: var(--brown-800);
    position: absolute;
}

.preparation-time__list li::marker {
    color: var(--rose-800)
}

table {
    margin: 20px 0px;
    border-collapse: collapse;
}

th {
text-align: left;
font-weight: normal;
}

th, td {
    padding: 10px 20px;
}

td {
    font-weight: bold;
    color: var(--brown-800);
}

tr + tr {
    border-top: 1px solid var(--stone-150);
}